html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #313131;
}
p{
  font-size: 15px;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.dashboard{
  margin-top: 25px;
}

.btn-style{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
  border-color: blue;
    box-shadow: none;
}

.message{
  width: fit-content;
  max-width: 200px;
}
.message-content{
  padding: 2px 20px;
  margin: 0;
  border-radius: 15px;
  margin-bottom: 20px;
}
.message-user{
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message-user-card{
  background-color: blue !important;
}

.message-guest-card{
  background-color: rgb(221, 221, 221) !important;
  color: blue;
}

.user-right{
  float: right;
  margin-right: 5px;
  color: white;
}

.user-left{
  margin-left: 5px;
  color: white;
}

@media screen and (min-width: 789px){
  p{
    font-size: 20px;
  }
}
