body{
  background-color: #506DFF;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.dashboard{
  margin-top: 25px;
}

.btn-style{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
  border-color: blue;
    box-shadow: none;
}

.message{
  background-color: rgb(202, 202, 202);
  max-width: 200px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}